@model Jobs.Models.Candidate

@{ ViewData["Title"] = "Delete"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style-delete.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap" rel="stylesheet">
    <title>Excluir</title>
</head>

<h3>Você tem certeza que deseja excluir os dados pessoais?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pwd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Linkedin)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="GeneralView" asp-route-id="@Model.Id">Meu Currículo</a>
    </form>
</div>
