@model Jobs.Models.ProfessionalExperience

@{ ViewData["Title"] = "Delete"; }

<head>
    <link rel="stylesheet" type="text/css" href="~/css/style-delete.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap" rel="stylesheet">
    <title>Excluir</title>
</head>

<h3>Você tem certeza que deseja excluir a experiência profissional?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-controller="Candidates" asp-action="GeneralView" asp-route-id="@Model.Candidate.Id">Meu currículo</a>
    </form>
</div>
